.advantages {
  outline: 2px solid blue;
  text-transform: uppercase;
  &__item {
    padding: 60px 28px 43px 20px;
    background-color: #eeeeee;
    outline: 2px solid brown;
  }
  &__number {
    line-height: 21px;
    font-weight: bold;
    font-weight: normal;
    color: #333333;
  }
  &__item-name {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
    &__item-details {
    line-height: 21px;
    font-weight: bold;
    font-weight: normal;
    color: #333333;
    }
  &__item--bg {
    background-color: #81b3d2 ;
    color: #ffffff;
  }
  &__item-details--color {
    color: #ffffff;
  }
  &__number--color {
    color: #ffffff;
  }
  &__features {
    outline: 2px solid pink;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 70px;
  }
}


