.features-list {
  &__item-category {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  }
  &__item-recomendation {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
  }
}
