.gallery {
  outline: 2px solid red;
}

.gallery__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.gallery__photo-description {
    font-weight: bold;
    text-transform: uppercase;
}

.gallery__photo-author {
    font-weight: normal;
    font-style: normal;
    color: #333333;
}
