.main-nav {
  display: flex;
  flex-direction: column;
  min-height: 55px;
  position: relative;
}

.main-nav__logo {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 50;
  width: 22px;
  height: 22px;
  font-size: 0;
  vertical-align: middle;
  background: url(../img/icon-cross.svg);
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 55px;
  }
}
