.modal {
  outline: 2px solid black;
  background-color: #ffffff;
  &__wrapper-failure {
    padding: 45px 56px 35px;
  }
  &__wrapper-success {
    padding: 45px 53px 38px 50px;
  }
  &__notice {
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  }
  &__information {
    margin: 0;
    text-transform: uppercase;
    color: #333333;
  }
  &__information--margin {
    margin-bottom: 27px;
  }
  &__button-close-wrapper {
    background-color: #f2f2f2;
    padding: 20px;
  }
}
