.page-main__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-main__title--index {
  width: 260px;
}

.page-main__title--photo {
  margin-bottom: 28px;
}

.page-main__title--form {
  margin-bottom: 28px;
}

.page-main__title-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

.page-main__form {
  margin-bottom: 44px;
  padding-top: 19px;
}

.page-main__title-description--form {
  width: 280px;
}

.page-main__title-wrapper {
  padding: 39px 30px 25px;
  text-align: center;
}

.page-main__title-wrapper--form {
  padding: 38px 20px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.page-main__title-wrapper--photo {
    padding: 38px 25px 25px;
}

@media (min-width: @tablet-width) {
  .page-main__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }

  .page-main__title-wrapper--photo {
    padding-top: 75px;
    padding-bottom: 70px;
  }

  .page-main__title-wrapper--form {
    border-bottom: none;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .page-main__title {
    font-size: 30px;
    width: 400px;
  }

  .page-main__title--form {
    margin-bottom: 30px;
}

  .page-main__description--photo {
    width: 430px;
  }

  .page-main__title-description {
    width: 440px;
  }

  .page-main__title-description--index {
    width: auto;
  }

  .page-main__title--index {
    width: 460px;
    font-size: 21px;
  }

  .page-main__form {
    padding: 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__form {
    padding: 0 120px;
  }

  .page-main__title {
    width: 440px;
    margin-bottom: 30px;
  }

  .page-main__title-wrapper--photo {
    padding-top: 82px;
    padding-bottom: 72px;
  }

  .page-main__title-wrapper--form {
    padding-top: 82px;
    padding-bottom: 60px;
  }

  .page-main__title-description--index {
    width: auto;
  }
}
