.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  background-color: #81b3d2;
  text-align: center;
  // border-top: 1px solid #405069;
  // border-bottom: 1px solid #293449;
}

.site-list__link {
  display: block;
  padding: 15px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    width: 20%;
    background-color: #ffffff;
  }

  .site-list__item:nth-child(3) {
    margin-left: auto;
  }
  .site-list__link {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }
}
