.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  background-color: #81b3d2;
}

.site-list__link {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

