@import "../fonts";

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    background-color: #81b3d2;
  }
  &__link {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
  }
}




