.video {

  outline: 2px solid black;
  background-color: #ffffff;

  &__title-wrapper {
    padding: 38px 42px;
    text-transform: uppercase;
  }
  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  &__description {
    margin: 0;
    color: #333333;
  }
}
