.video {
  position: relative;
  background-color: #ffffff;
}

.video__title-wrapper {
  padding: 35px 40px 40px;
  text-transform: uppercase;
}

.video__title {
  width: 245px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.video__description {
  text-align: center;
  margin: 0;
  color: #333333;
}

.video__controls {
  position: absolute;
  bottom: -62px;
  left: 20px;
  width: 280px;
  height: 115px;
}


@media (min-width: @tablet-width) {
  .video {
    padding: 0 60px;
    margin-bottom: 45px;
  }

  .video__title {
    width: auto;
    padding: 0;
    font-size: 30px;
    margin-bottom: 25px;
  }

  .video__title-wrapper {
    padding: 66px 116px 76px;
  }

  .video__poster {
    background-image: url("../img/video-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 648px;
    height: 500px;
  }

  .video__controls {
    width: 648px;
    bottom: -16px;
    left: 160px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 88px;
  }

  .video__title {
    margin-bottom: 30px;
  }

  .video__title-wrapper {
    padding: 70px 0 75px;
  }

  .video__poster {
    width: 800px;
    height: 500px;
  }

  .video__description {
    width: 420px;
  }
}
